
<div class="mobile-menu-overlay [transition:background-color_1.5s_ease] fixed inset-0 z-10 bg-black/80 dark:bg-black/60 hidden"></div>
<div class="sidebar-container menubar flex flex-col print:hidden md:top-16 md:shrink-0 md:w-64 md:self-start max-md:[transform:translate3d(0,-100%,0)] md:hidden">
  <div class="px-4 pt-4 md:hidden">
    {{ partial "search.html" }}
  </div>
    {{- $currentPage := . -}}
    {{ range site.Menus.main }}
      {{ if .Params.type }}
      {{ else if .Params.icon }}
      {{ else }}
      {{- $link := .URL -}}
      {{- $external := strings.HasPrefix $link "http" -}}
      <div class="px-4 pt-4 md:hidden">
      <a
          href="{{ $link }}"
          class="text-sm contrast-more:text-gray-700 contrast-more:dark:text-gray-100 relative -ml-2 whitespace-nowrap p-2 md:inline-block "
          {{ if $external }}target="_blank" rel="noreferrer"{{ end -}}
        >
            <span class="text-center">{{ or (T .Identifier) .Name | safeHTML }}</span>
          </a>
      </div>
      {{ end }}
    {{ end }}

</div>
